<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="dashboard">

    <h1>Welcome <%= username %></h1>

    <p>Login Successful</p>

    <a href="/logout" class="logout-btn">
        Logout
    </a>

</div>

</body>